[2016-08-29 03:17] SaiGonSeamus opened #1 "Typo"
Should this

python ghdb_scraper.py -n 5 -x 3785 -f -t 3

not read as this?

python ghdb_scraper.py -n 5 -x 3785 -s -t 3

[2016-08-29 06:17] SaiGonSeamus opened #2 "Random error with dork number..."
Total Google dorks retrieved: 3228

Others failed with "Random error with dork number 3604" etc

What is the best thing to do to get the remaining dorks?

Rerun ghdb_scraper.py ?

[2016-08-29 16:24] opsdisk commented on #1
Thanks SaiGonSeamus, good catch!  Fixed.

[2016-08-29 16:24] #1 closed

[2016-08-29 16:27] opsdisk commented on #2
What was the complete command and switches you ran it with?  Does it crash after that dork?  Some dork numbers just don't exist.

[2016-08-29 18:30] SaiGonSeamus commented on #2
python ghdb_scraper.py -n 5 -x 3785 -s -t 3

No it doesn't.

[2016-08-29 18:31] SaiGonSeamus opened #3 "pip install google : ImportError: cannot import name IncompleteRead"
Any idea on this?

root@DS:~# pip install google
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    load_entry_point('pip==1.5.6', 'console_scripts', 'pip')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 356, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/dist-packages/pkg_resources.p

[2016-08-29 21:06] opsdisk commented on #3
Haven't seen that one before.  I'd try running "pip install -r requirements.txt" first.  If that fails, reinstall pip.

[2016-08-29 21:21] opsdisk commented on #2
Looks like the dork doesn't exist, but you should have gotten the failed error message: https://www.exploit-db.com/ghdb/3604/

Is that the only dork that returns that error?

[2016-08-30 03:11] SaiGonSeamus commented on #2
No there was a lot, 600 maybe.

3228 completed

[2016-08-30 03:16] SaiGonSeamus commented on #3
Tried both of those, neither worked.

[2016-08-30 03:17] opsdisk commented on #2
exploit-db.com may be blocking you if you request too many...3 threads worked for me.  You may have to tune it down to 1-2 threads.  FYI, the complete list is in the repo: https://github.com/opsdisk/pagodo/blob/master/google_dorks.txt

[2016-08-30 03:18] opsdisk commented on #3
Looks like you're running as root based the shell prompt.  Is that correct?  I'd try installing another package via pip and see if you get something similar.  Besides that, don't know what else to recommend.

[2016-09-02 02:38] SaiGonSeamus commented on #3
It's a debian jessie thing. it's working now.

[2016-09-02 02:45] opsdisk commented on #3
Glad to hear you figured it out!

[2016-09-02 02:45] #3 closed

[2017-03-16 00:11] #2 closed

[2017-11-10 12:51] SergioP3rez opened #7 "Wrong number of contents in ghdb_scraper.py"
Hi, there is an error in ghdb_scraper.py, in lines 34 and 35. I solved it changing actual lines by these:
[code]
With this, it is retrieving correctly the google dork from the table that is actually shown in https://exploit-db.com/ghdb/<dork-number>/

Regards!

[2017-11-11 13:49] opsdisk commented on #7
Thanks for the heads up @SergioP3rez ...I'll take a look and push a fix if it needs it.

[2017-11-11 13:52] SergioP3rez commented on #7
@opsdisk no problem, it is a pleassure to contribute! If you want, since I have already made the fix in the code, I can generate a pull request that you would only have to validate :)

[2017-11-11 13:53] opsdisk commented on #7
That works even better!

[2017-11-11 13:54] SergioP3rez commented on #7
Ok! I will do it then.

Regards and thanks for your work!

[2017-11-11 14:02] SergioP3rez commented on #7
@opsdisk Excuse me, you should give me permissions to contribute to this repository, i can not push my changes If you do not give me the required permissions :)
[code]
Thanks in advance!

[2017-11-11 14:26] opsdisk commented on #7
The github workflow I'm familiar with is to clone this repo to your local box

`git clone https://github.com/opsdisk/pagodo.git`

create a new branch, add file, and commit it.

[code]
push it to your github repo

`git push origin https://github.com/SergioP3rez/pagodo.git`

then request a PR through the web interface.

[2017-11-11 14:45] SergioP3rez commented on #7
@opsdisk Yes, that is the workflow that i followed, but I think I must do a fork or similar. I will try forking the project and retry.

[2017-11-11 14:50] SergioP3rez commented on #7
Done! Now you can review my pull request and merge it to master if it looks good to you.

Regards and thanks again!

[2017-12-29 05:27] MelissaMV opened #10 "[-] ERROR with dork:"
I'm getting this error with each dork after every query is that normal?

[-] ERROR with dork: about.php?cartID=

[2017-12-29 18:35] opsdisk commented on #10
Hi @MelissaMV

Could you provide me the python version (`python -V`) you are running, the full command line with switches, and the output you're seeing?

[2017-12-30 02:35] MelissaMV commented on #10
@opsdisk Sure here are the details:

Kali Linux Python 2.7.14

(Note: I asterisk out the site name)

root@kali:~/Desktop/pagodo# python pagodo.py -d http://********.co.tt -g google_dorks.txt -l 50 -s -e 30.0 -j 1.1

[*] Initiation timestamp: 20171229_211706
[*] Search ( 1 / 100 ) for Google dork [ "Error Diagnostic Information" intitle:"Error Occurred While" site:http://********.co.tt ] and waitin

[2018-01-13 20:55] opsdisk commented on #10
Hi @MelissaMV - sorry it took a while to get back.  Try without the http:// prepended to the domain.  So just the domain `python pagodo.py -d example.com`.  If that doesn't fix that, it may be that Google is detecting it as a bot, so you need to wait an hour or so.

[2018-01-14 05:55] MelissaMV commented on #10
@opsdisk thx for your response - i tried what you said without the "http://" but I'm getting the same error, so I guess Google is detecting it as a bot.

Is there a way around this?

[2018-01-14 19:26] opsdisk commented on #10
Hmmm...what version of the `google` module do you have?

`pip freeze | egrep google`

It looks like the latest is `2.0.1` and I was getting some errors with that one.  You mind throwing some debug print statements around each main block of code to see where it stops executing and paste that output? I'm trying to determine which line is causing the issues.  Something like this:

[code]

[2018-01-18 10:08] constantin-evseev opened #11 "Update Python module "google" to version 2.0.1"
Module named "google" not found in Python 3.6.4 on MS Windows. His new name is "googlesearch". After manual fixing all working fine.

[2018-01-21 04:49] opsdisk commented on #11
Thanks for the heads up @constantin-evseev I noticed he updated the library a week or so ago.  Give me a few days to take a look and update any code/notes with this repo.

[2018-02-03 22:20] opsdisk commented on #11
Nice catch...found his commit here: https://github.com/MarioVilas/googlesearch/commit/92309f4f23a6334a83c045f7c51f87b904e7d61d

Just updated scripts and requirements.txt file to reflect.

[2018-02-03 22:20] #11 closed

[2018-02-03 22:21] opsdisk commented on #10
Just pushed up some new code.  Let me know if it is still giving you issues.

[2018-02-03 22:21] #7 closed

[2018-02-05 02:28] MelissaMV commented on #10
yup got the same "ERROR with dork" on every dork in my list including your "google_dorks.txt list and i'm using google 2.0.1...well i guess if its working on your side and not my side its prolly my Kali Linux has some screwed up configuration somewhere lol but thx anywayz for trying to help me :)

Do you know any script that can open dorks in a file in multiple x tabs in firefox or googlechrome??

[2018-02-06 22:02] thesilas commented on #10
I get the same error as MelissaMV.

[2018-02-06 22:05] opsdisk commented on #10
@MelissaMV @thesilas Can you put some print statements between the lines as suggested by https://github.com/opsdisk/pagodo/issues/10#issuecomment-357535182

Trying to figure out where it's failing.

[2018-02-06 22:15] thesilas commented on #10
@opsdisk I just added the comments as you suggested and got the following output:

`python pagodo.py -d ***.** -g google_dorks.txt -l 50 -s -e 35.0 -j 1.1
[*] Initiation timestamp: 20180206_230930
[*] Search ( 1 / 3612 ) for Google dork [ netflix site:***.** ] and waiting 73.4
667123037 seconds between searches
1
[-] ERROR with dork: netflix
[*] Search ( 2 / 3612 ) for Google dork [ "Error Diagnos

[2018-02-08 02:10] opsdisk commented on #10
@thesilas thanks for that info...looks like it's something with googlesearch.search function.  Couple of things:

1) You're using the latest script with `googlesearch.search` and not `google.search`
2) Can you run `pip freeze | egrep google` again?  It should be version 2.0.1.
3) Install requirements again:  `pip install -r requirements.txt`
4) Start the python interpreter (by typing `python`) and

[2018-02-08 21:34] thesilas commented on #10
@opsdisk thanks for the instructions. It turns out that I didn't install the requirements using
[code]
after I did so I didnt get the error anymore and the tool works. So for me the issue could be closed. @MelissaMV  did you too run pagodo without first installing the requirements?

@opsdisk I made a pull request with an updated version of the readme that includes a short section regarding the ins

[2018-02-09 14:00] marciks commented on #10
I'm getting the same error and when print(x) is used i get 503 service unavaible.. the same thing that happens on doork project.. google is banning our requests i think \o/ would be cool if it was possible to request pages with diferent headers like v3n0m does

[2018-02-09 14:46] thesilas commented on #10
@marciks after some request I too get 503. not sure yet what a good -e delay value is. I just tried with 65 but after some successfull request I get the 503 error again. Then you have to wait a while or switch to another public source IP. @opsdisk do you use the default values or can you recommend other values that prevent the google detection?

[2018-02-11 01:15] opsdisk commented on #10
@marciks What HTTP headers are you specifying? Do you mean the User-Agent?  I implemented this in my metagoofil fork (https://github.com/opsdisk/metagoofil/blob/master/metagoofil.py#L173) and just realized (thanks to you) I hadn't implemented it in this one.  If that's the case, please create an issue and I'll add it in.

@thesilas to answer your question, the defaults (jitter and delay) have work

[2018-02-11 10:59] marciks opened #14 "please, add User agent header!"

[2018-02-18 22:05] opsdisk commented on #14
Just submitted code update to master.  Do a git pull and take it for a test drive.  Let me know if you find any issues.

[2018-02-18 22:06] opsdisk commented on #10
Closing this issue.

[2018-02-18 22:06] #10 closed

[2018-02-20 21:04] marciks commented on #14
its running great! nice job.

[2018-02-21 02:15] opsdisk commented on #14
Good to hear, I'll close this one out.

[2018-02-21 02:15] #14 closed

[2018-02-23 12:11] thesilas opened #16 "Default Delay causes Service Unavailable"
Acutally this is probably not an issue with the code itself, however the default delay value (-e 35.0) causes a Exception HTTP Error 503: Service unavailable, already after the 4th dork. I'm still trying to figure out a value that works for me and does not take too long. I'm trying now with -e 120.0. With this value checking all currently available dorks (about 4500) for one domain will take about

[2018-02-24 22:52] opsdisk commented on #16
I tried adding some logic to detect an HTTP 503 error and do some backoff throttling, but the underlying request is made in the `googlesearch` module.  You may be able to spread the load between a couple VPS servers or I could add an option to round-robin through a list of HTTP proxies, but again the underlying request is made in the `googlesearch` module (https://github.com/MarioVilas/googlesearc

[2018-02-25 00:37] marciks commented on #16
I tried to bypass google bot detection system with random countries like google.cz, google.pl, google.com.br, using rondomized proxies, with random user agents and random sleep time between requests but I got banned.. there are some dorks that will trigger google detection like inurl:"*.php*" or "site:xxx.com" but if you try simple requests like "?id=foo" (with out file type) google will not consi

[2018-07-28 00:59] opsdisk commented on #16
Just pushed some updates to master.  I've had success running this lately with the new default values...it may take around 4 days to complete though.  I'm going to close this for now, unless you have some new data I can work with.

[2018-07-28 00:59] #16 closed

[2018-08-05 01:42] emilyanncr opened #18 "I'm getting the following error:"
Great script.  I'm getting the following error however even after installing the requirements:

emily@kali:~/Tools/pagodo$ sudo pip3 install -r requirements.txt
[sudo] password for emily:
Requirement already satisfied: beautifulsoup4>=4.6.0 in /usr/lib/python3/dist-packages (from -r requirements.txt (line 1))
Collecting google>=2.0.1 (from -r requirements.txt (line 2))
  Downloading https://files.

[2018-08-05 02:04] opsdisk commented on #18
Hi @emilyanncr - thanks for reaching out.

What is the output of this command?

`python -V`

It looks like you are calling Python2 instead of Python3.  You can try `python3 -V` to see if it's installed.  If so, the script would be called as:

[code]

I've only tested it on Python3 since Python2 is on it's way out.  Let me know if that works for you.

[2018-08-14 22:06] opsdisk commented on #18
Did you get it working @emilyanncr ?

[2018-08-24 01:45] opsdisk commented on #18
Closing this out.  Let me know if you have any other questions.

[2018-08-24 01:45] #18 closed

[2018-12-05 10:42] Astroida opened #21 "ghdb_scraper.py no longer retrieves dork"
The GHDB scraper no longer works - presumably this is because the exploit-db website has been updated.

Here's the output I am getting:

[*] Initiation timestamp: 20181205_104042
[*] Spawing thread #0
[*] Spawing thread #1
[*] Spawing thread #2
[+] Retrieving dork 6: Penetration Testing with Kali Linux (PWK)
[+] Retrieving dork 7: Penetration Testing with Kali Linux (PWK)
[+] Retrieving dork 9: Pe

[2018-12-05 12:11] opsdisk commented on #21
Hi @Astroida - thank you for alerting me to that!  Site definitely looks different.  I'll take a look at updating the code.  For the time being, you can change the URL (https://github.com/opsdisk/pagodo/blob/master/ghdb_scraper.py#L34) to point to `https://old.exploit-db.com` which is the old site that worked with `ghdb_scraper.py`

[2018-12-06 10:09] Astroida commented on #21
Hi @opsdisk, thanks for the temp fix! Wasn't aware that the old link still exists.

[2018-12-06 12:22] opsdisk commented on #21
@Astroida Try taking this branch for a spin: https://github.com/opsdisk/pagodo/tree/issue-21

My original testing shows they start blocking attempts after 500-1000 requests even with 1 thread, so I may have to add some logic to back off / randomize the request rate like I do in https://github.com/opsdisk/metagoofil/blob/master/metagoofil.py

[2018-12-07 00:12] opsdisk commented on #21
nm testing this.  I figured out how to pull all Google dorks with 1 HTTP GET request.  May take a day or two to push the code.

[2019-01-13 06:21] littleheary opened #25 "SyntaxError: invalid syntax"
root@ubuntu:/soft/dork-tools/pagodo# python3 ghdb_scraper.py
  File "ghdb_scraper.py", line 33
    print(f"[-] Error retrieving google dorks from: {url}")
                                                         ^
SyntaxError: invalid syntax
root@ubuntu:/soft/dork-tools/pagodo#
root@ubuntu:/soft/dork-tools/pagodo# ls
ghdb_scraper.py                   google_dorks.json  pagodo.py  requirements.txt

[2019-01-13 14:11] opsdisk commented on #25
Hi @littleheary - thanks for submitting an issue.  Can you run `python -V` and tell me what version of Python is running?  I'm guessing you have a version less than 3.6.  Version 3.6+ is required.

[2019-01-22 01:39] opsdisk commented on #25
Going to close this one out.  Let me know if you have any other issues/questions.

[2019-01-22 01:39] #25 closed

[2019-02-07 08:21] saeeddhqan opened #26 "Console interface"
Hi dear,
you can use Maryam for the user interface. If you use Maryam, your program will a framework like Metasploit.
If you wanted, please ask how to work.
[http://github.com/saeeddhqan/maryam](https://github.com/saeeddhqan/maryam)

[2019-02-07 19:47] opsdisk commented on #26
HI @saeeddhqan - thanks for letting me know about your project.  However, at this time, I'd rather keep pagodo simple without any framework overhead.  Feel free to incorporate it into maryam though.

[2019-02-07 19:47] #26 closed

[2019-02-08 08:07] JoshuaMart opened #27 "0 results for each dork"
Hi,
Thank you for your tool, it is very interesting but unfortunately I can't get it to work, the searches always return me 0 results.

[code]

No matter which dork I use, I have 0 results:/

Thank's for help

[2019-02-08 17:08] opsdisk commented on #27
Hi @JoshuaMart - thanks for taking the time to submit an issue.  I got the same result with the `yahoo.com` domain and same dork file when using pagodo.  It does, however, return results using the Google GUI engine. Looks like it may be something in googlesearch logic (https://github.com/opsdisk/pagodo/blob/master/pagodo.py#L99)

Using ipython to debug, this returns URLs:

[code]
but this doesn't

[2019-02-08 19:57] JoshuaMart commented on #27
I hope you can find a solution. :)

[2019-02-09 00:44] opsdisk commented on #27
This Metagoofil may help for what you're trying to do: https://github.com/opsdisk/metagoofil

Just tried it for yahoo.com and PDFs and it returned results.

[2019-02-10 09:03] JoshuaMart commented on #27
It's by chance that I used a "filetype: pdf" dork, it's not specifically what I'm looking to use, but thanks, I tested MetaGooFil it's really nice!

[2019-02-17 21:00] opsdisk commented on #27
tl;dr - install the `google` library from Github until 2.0.2 is pushed to PyPI.  Here's the ticket I submitted: https://github.com/MarioVilas/googlesearch/issues/68

[code]

`pip install google` is not installing the latest version.

Looks like there's a bug in the `google` library for 2.0.1 that is fixed in 2.0.2.  It's appending an encoded "+" (%2B) to the search query since `domain_query` is an

[2019-02-18 15:06] JoshuaMart commented on #27
It works !
Thank's :)

[2019-02-18 15:06] #27 closed

[2019-04-02 19:58] syriusbughunt opened #30 "Getting HTTP code 503 (google detects) after 3rd dork"
Hi!

I was wondering if you could give me some tips on how to get undetected from Google with pagodo, after only the 3rd dork in a list of 373 dorks I got detect with the following syntax:

python3 pagodo.py -g ALL_dorks.txt -s -e 35.0 -l 700 -j 1.1

[*] Search ( 3 / 373 ) for Google dork [ inurl:/index.jsf filetype:jsf ] and waiting 70.1710817159225 seconds between searches using User-Agent 'Mozi

[2019-04-02 20:03] syriusbughunt commented on #30
May I suggest to add maybe an option '--proxy' that would load a list of VALID proxies or socks and throttle between them when they get error 503? It's kinda easy for me to say that but for the dev I don't know if this is hard to do... anyways if I can do some testing or anything, let me know!

[2019-04-04 01:26] opsdisk commented on #30
Hi @syriusbughunt - The defaults have worked for me in the past.  Keep `-l` at 100, definitely randomize the user agent (don't use `-u`).  It's a game of patience coming from 1 IP.

For the proxy, you could use proxychains.  You provide a list of proxies, enable `random_chain`, and set `chain_len = 1` to have it round robin through them.  Here's what my `/etc/proxychains4.conf` file looks like.  T

[2019-04-04 01:40] opsdisk commented on #30
Actually, try with `round_robin` enabled instead of `random_chain`.  In my testing, it switches proxies with each lookup.

[2019-04-05 02:27] syriusbughunt commented on #30
Awesome solution! Will be definitely useful with also others applications, do you mind leaving this issue opened for a small time (just for the time I try it out) ?

Thanks !

[2019-04-05 02:32] opsdisk commented on #30
Not at all, as long as you let me know what worked for you and any data you collected on speed/efficiencies (you were able to cut the delay down to 3 seconds with 5 servers, stuff like that).  If it works well, I'll add it to the README.

[2019-04-17 02:51] opsdisk commented on #30
@syriusbughunt Did that work for you?

[2019-04-17 21:55] opsdisk commented on #30
https://github.com/opsdisk/pagodo/pull/31

[2019-04-17 21:55] #30 closed

[2019-09-22 22:55] Yoomarksa opened #33 "error code 429"
Why is it happening?
HTTP Error code 429?

This happens often and no file is created.

[2019-09-23 00:16] opsdisk commented on #33
Hi @Yoomarksa - It would help if you provided some more information.  Can you provide the full command and switches you are using?  As well as a screen shot?

[2019-09-25 19:31] Yoomarksa commented on #33
umm...
I'm excute command ./pagodo
And this happening Error code 429

Error with dork: site:koica.go.kr intext:confidential filetype:doc | filetype:hwp | filetype:pdf | filetype:ppt - filename:code-of-conduct*
[-] EXCEPTION: HTTP Error 429: Too Many Requests

[2019-09-27 02:39] opsdisk commented on #33
Running `./pagodo` by itself won't work, you need to provide at least the domain (`-d`) and dork file (`-g`).  Can you provide me the entire command you are trying to run?

You may need to increase your `-e` and `-j` values since Google may be throttling you since you are making requests too fast.

[2019-10-04 06:38] riasudeen commented on #33
Here is the error

`$ more /var/tmp/contents/sample_syntax.txt
inurl:what-is-collaboration.html
intext:"Learn how collaboration technologies"
$
$
$ /usr/bin/proxychains /usr/bin/python3 /var/tmp/pagodo/pagodo.py -d cisco.com -g /var/tmp/contents/sample_syntax.txt -e 50.0 -j 2.1
ProxyChains-3.1 (http://proxychains.sf.net)
[*] Initiation timestamp: 20191004_062524
[*] Search ( 1 / 2 ) for Google dor

[2019-10-04 10:43] opsdisk commented on #33
Thanks for the datapoint @etslab .  What does your `proxychains.conf` file look like?  Are you SSHing into 2 different boxes and setting up a SOCKS proxy using `D 9050` and `-D 9051`?  The `denied` messages make me think something is wrong with your proxychains setup and your requests are leaving your host box's source IP and getting blocked by Google.

For both of you @etslab and @Yoomarksa , I'v

[2019-10-04 12:08] etslab commented on #33
Thanks @opsdisk for the prompt reply. I am using tor for the proxychains and my config FYR

`$ more /etc/proxychains.conf
round_robin
chain_len = 1
proxy_dns
remote_dns_subnet 224
tcp_read_time_out 15000
tcp_connect_time_out 8000
[ProxyList]
socks4 127.0.0.1 9050
socks4 127.0.0.1 9051`

Same configuration working fine my localhost but not from cloud instance.
Wondering what could be a issue? Give

[2019-10-04 13:53] etslab commented on #33
I have tried with free socks4 proxy available on the internet and following in the output

`ProxyChains-3.1 (http://proxychains.sf.net)
[*] Initiation timestamp: 20191004_134518
[*] Search ( 1 / 2 ) for Google dork [ site:cisco.com inurl:what-is-collaboration.html ] and waiting 87.70113815378582 seconds between searches using User-Agent 'Mozilla/5.0 (X11; U; Linux i686; pl-PL; rv:1.9.0.2) Gecko/20

[2019-10-04 21:47] opsdisk commented on #33
@etslab Google may track active Tor exit nodes / public proxies and block them (or require you answer a captcha which I've seen before).  Sounds like your issue is more around using proxychains, and not necessarily with pagodo (although it could be, but proxychains complicates troubleshooting).  If you want to learn more about SSH and SOCKS proxies, this isn't the best ticket to troubleshoot/teach

[2020-01-03 03:05] opsdisk commented on #33
Going to close this one out.

[2020-01-03 03:05] #33 closed

[2020-05-17 07:06] Jay1508 opened #36 "Received HTTP Error 429: Too Many Requests"
Hi,

I have received this http error message after 10 searches:  HTTP Error 429: Too Many Requests. I have used a high delay (-e 30.0). I have tried to change my IP but no joy!
Any ideas how I can solve this.
thank you
Jay!

[2020-05-17 11:57] opsdisk commented on #36
Hi @Jay1508 - thanks for taking the time to submit an issue.  Unfortunately, the number of search requests is still too many in a given time period.  I'm working on a branch now that when it detects this, backs off for some time.  Still tweaking it, but a minimum of 30 minutes may be necessary.  For now, I'd try tuning up `-e` even more or running it through a bank of proxies: https://github.com/o

[2020-05-17 19:30] Jay1508 commented on #36
Thanks opsdisk for your reply. I have heard about using exponential back off as a possible solution. 30 minutes seems a lot to me. I have received the 429 response code after 10ish dorks. There are now almost 6000 dorks in the database. I havent tried my luck with bank of proxies yet.

[2020-05-17 19:41] opsdisk commented on #36
It used to be 10 minutes or so, but I had to wait almost 30 minutes during some unofficial testing a few weeks ago.  It may be that you get penalized more if it keeps flagging your IP.  Having multiple proxies you can go through spreads the requests and cuts down on the total time, but it's bit more to manage and costs a few bucks.  Going to close this one out, but let me know if you have any othe

[2020-05-17 19:41] #36 closed

[2020-06-12 22:12] bimarifin opened #37 "Unicode error (ghdb-scraper)"
when fetching ghdb, its getting error, because variable saved to disk needs to be encoded as utf-8

[code]

in line 49, add: encoding='utf-8' to open function

fix this with:

`with open(google_dork_file, "w", encoding='utf-8') as fh:`

[2020-06-12 22:21] opsdisk commented on #37
Thanks for reporting this @bimarifin .  What exact version of Python are you using?  Looks like 3.7 from your output.  I just tried with Python 3.6.7 and 3.7.5 and didn't have any issues, but I'll take a look at adding some defensive measures.

[2020-06-12 22:51] bimarifin commented on #37
![image](https://user-images.githubusercontent.com/66295537/84552087-d0708e80-ad39-11ea-80b8-4c36dce3b33a.png)

btw i also making changes with your code, i think people like me doesnt want to get all dorks from ghdb, just spesific category, so i making changes and looks like that.

![image](https://user-images.githubusercontent.com/66295537/84552119-f138e400-ad39-11ea-954b-112d5f6bcbec.png)

but i

[2020-06-12 22:55] bimarifin commented on #37
but you can use this :

`_categories = {'1': 'Footholds',
            '2': 'File_Containing_Usernames',
            '3': 'Sensitives_Directories',
            '4': 'Web_Server_Detection',
            '5': 'Vulnerable_Files',
            '6': 'Vulnerable_Servers',
            '7': 'Error_Messages',
            '8': 'File_Containing_Juicy_Info',
            '9': 'File_Containing_Passwords',

[2020-06-13 13:20] opsdisk commented on #37
Great idea!  That capability would be awesome.  Check out this branch and let me know what you think:

[code]

Pull request is here: https://github.com/opsdisk/pagodo/pull/38

[2020-06-21 16:44] opsdisk commented on #37
Merged into master

* Added `encoding="utf-8"` when writing files to disk
* Added `-i` switch to separate dorks into different individual categories

[2020-06-21 16:44] #37 closed

[2020-06-21 18:53] opsdisk opened #41 "Ignore results from exploit-db.com hosting the actual dorks"
![image](https://user-images.githubusercontent.com/8660252/85232689-7cfbe180-b3c6-11ea-88df-e0abfc009406.png)

[2020-08-19 21:10] sniper199 opened #43 "[-] EXCEPTION: HTTP Error 429:"
[-] Error with dork: index.of.private
[-] EXCEPTION: HTTP Error 429: Too Many Requests
i used the proxychains4 but i had that's problem

[2020-08-20 00:48] opsdisk commented on #43
Hello @sniper199

What was the complete pagodo.py command you used?

What does your proxy config file look like?

How many proxy servers were you using?

[2020-08-20 11:52] sniper199 commented on #43
my command:
proxychains4 python3 pagodo.py -d example.com -g example.txt  -l 25 -s  -e 60  -j 1.60

my proxy  file look like this:
round_robin
chain_len = 1
proxy_dns
remote_dns_subnet 224
tcp_read_time_out 15000
tcp_connect_time_out 8000
[ProxyList]
socks4 127.0.0.1 9050
socks4 127.0.0.1 9051

[2020-08-29 20:07] opsdisk commented on #43
Going to close this one out.

[2020-08-29 20:07] #43 closed

[2020-10-04 03:18] opsdisk commented on #41
https://github.com/opsdisk/pagodo/pull/44

[2020-10-04 03:18] #41 closed

[2021-04-24 22:28] EONRaider opened #48 "Is this project being actively maintained?"
If so, could you enable discussions? I'm working on a few contributions.

[2021-04-25 00:49] opsdisk commented on #48
Yup!  Enabled here https://github.com/opsdisk/pagodo/discussions

Looking forward to your contributions @EONRaider

[2021-04-25 00:49] #48 closed

[2021-05-19 15:17] crazywifi opened #50 "Tool is not working"
[-] Error with dork: intitle:"Ganglia" "Cluster Report for"
[-] EXCEPTION: module 'googlesearch' has no attribute 'search'
Traceback (most recent call last):
  File "/root/bugbounty/pagodo/pagodo.py", line 103, in go
    for url in googlesearch.search(
AttributeError: module 'googlesearch' has no attribute 'search'

During handling of the above exception, another exception occurred:

Traceback (mo

[2021-05-19 16:21] opsdisk commented on #50
Hi @crazywifi  - thanks for submitting the issue.

How did you install it?  As a reference, the instructions are here: https://github.com/opsdisk/pagodo#installation

I'd recommend creating a Python virtual environment.  My guess is you're using a system-wide install of the `googlesearch` library that is outdated.

[2021-05-24 16:21] crazywifi commented on #50
Thanks, it's working now.

[2021-05-24 16:22] #50 closed

[2021-06-30 02:47] 0xspade opened #52 "Add color to terminal results"
implement colorize for the results.

at least in this line, to be exact:
`[*] Results: 0 sites found for Google dork: ...`

[2021-06-30 13:19] opsdisk commented on #52
Hi @0xspade - Thanks for submitting a potential enhancement.  Give me a few days to look into this.  Were you thinking green for when results are found?

[2021-06-30 13:21] 0xspade commented on #52
red for no result and green for x results.

and also, Im having trouble with the IP blocking. Can I ask why not to use the API?

[2021-06-30 16:28] opsdisk commented on #52
I found the `google` library and just stuck with it since it didn't require a Google account and API key.  According to this article (https://rapidapi.com/blog/google-search-api/), looks like you only get 100 requests per day for free, which could be limiting.  I could see them suspending the API key or account if "abuse" is detected as well.

If you have a Python library recommendation or other i

[2021-07-03 21:22] opsdisk commented on #52
@0xspade Here's the branch https://github.com/opsdisk/pagodo/tree/add-colorama

Let me know what you think.

[2021-07-14 22:37] spaceh3ad opened #54 "[!] Specify a valid file containing Google dorks with -g"
I got error when execute code drom Hak5 tutrial.

`(.venv) josh@josh-pc:~/pagodo$ python3 pagodo.py -d amazon.com -g "dorks/files_containig_juicy_info.dorks"  -l 50 -s -e 35.0 -j 1.1
`

`[!] Specify a valid file containing Google dorks with -g #54
`

[2021-07-15 00:01] opsdisk commented on #54
Hi @spaceh3ad - looks like "containing" is spelled incorrectly.  Try this:

[code]

[2021-07-31 12:18] opsdisk commented on #54
Closing this one out @spaceh3ad - let me know if it's still not working correctly.

[2021-07-31 12:18] #54 closed

[2021-08-03 08:35] halimB8 opened #55 "EXCEPTION: HTTP Error 429: Too Many Requests"
Hello,

I have configured 4 Tor proxies and my proxychain4 configuration looks like that:

[code]

and I run Pogodo using this command :

[code]

But I am getting HTTP Error since the first try :

[code]

Could you tell me please how can I bypass these errors ?
Best regards

[2021-08-04 21:00] opsdisk commented on #55
Thanks for submitting an issue @halimB8

It's hard to pinpoint exactly what's happening and if the traffic is being properly routed.  Here are my thoughts:

* When round-robining traffic, a lower `-e` value should be permitted, but the 60.0 was higher than the default...and that seemed odd that it immediately returned an HTTP 429 on the first search (unless you'd been running pagodo through it ear

[2021-08-05 07:33] halimB8 commented on #55
Thanks for your answer @opsdisk,

- Even after having HTTP 429 errors I still can access google using my browser, which means that pagodo is not using my IP.
- To setup my Tor proxy I have created in `/etc/tor/` 3 tor configuration files `torrc.1` `torrc.2` and `torrc.3`, in each one I used a different port, here is an example of one of my configuration files :
[code]
and then in the proxychains4

[2021-08-09 22:56] opsdisk commented on #55
Thanks for that info @halimB8 I'll see if I can replicate it on my end.  It may be a week or two though until I can get to it.

[2021-08-14 20:08] opsdisk commented on #52
Merged into master.

[2021-08-14 20:08] #52 closed

[2021-08-18 13:53] bradfodley opened #56 "details"
where does details found saved?

[2021-08-18 21:57] opsdisk commented on #56
Hi @bradfodley

Could you specify which script you're running?  `ghdb_scraper.py` or `pagodo.py`?

What specific details are you looking for?

[2021-08-19 05:09] bradfodley commented on #56
after running python3 pagodo.py -d example.com -g dorks.txt -l 50 -s -e 35.0 -j 1.1, where will the details found be saved and also can i add more than domain for the search?

[2021-08-20 21:50] opsdisk commented on #56
Hi @bradfodley

To your first question, with the `-s` switch specified, it will "Save the html links to pagodo_results_\<TIMESTAMP\>.txt file."

Can you clarify what "add more than domain" means.  Are you looking to specify more than 1 domain, so something like `-d example.com,apple.com`?  If so, that's not supported.

If you're looking to add your own custom Google dorks, you can add those to the

[2021-08-22 22:20] opsdisk commented on #55
Hey @halimB8 - in the middle of rewriting a new Google search library right now for pagodo, but wanted to have you check something:

"Even after having HTTP 429 errors I still can access google using my browser" - have you tried executing a Google search through the browser after that?  I can browse to google.com all day on Tor, but anytime I try and search, I'll get the reCAPTCHA screen.  With th

[2021-08-24 07:44] halimB8 commented on #55
Hey @opsdisk Thanks for your answers,

I just tried again and now before the HTTP 429 error, I am getting an error with dork like that :

[code]
and yes I tried to search on google on my browser after getting that error and it didn't ask me for a reCAPTCHA, I even took some dorks from `sensitive_directories.dorks` and run them manually in my browser and worked fine

[2021-08-31 22:00] opsdisk commented on #55
As a heads up @halimB8 , I released [yagooglesearch](https://github.com/opsdisk/yagooglesearch) yesterday.  I rewrote the entire underlying library that powers pagodo.  It supports HTTP 429 auto detection/backoff and has native proxy support (https://github.com/opsdisk/yagooglesearch#http-and-socks5-proxy-support).  pagodo v2 should be released shortly!

[2021-09-01 00:30] melmel27 opened #60 "option with --proxy"
i have a proxy server that can rotate the ip address on every request, can use the --proxy 192.168.1.1:8080 option?

[2021-09-01 00:34] opsdisk commented on #60
Hi @melmel27 appreciate the question.  That might work with the current version of pagodo and proxychains.  There are some new ppagodo updates coming soon that I mentioned in another issue today.  Biggest being native proxy support :)

https://github.com/opsdisk/pagodo/issues/55#issuecomment-909674753

[2021-09-01 14:47] opsdisk commented on #55
Just released v2!  https://github.com/opsdisk/pagodo/releases/tag/v2.0.0

Let me know if you're still running into this issue:

[2021-09-01 14:48] opsdisk commented on #60
Just released v2!  https://github.com/opsdisk/pagodo/releases/tag/v2.0.0

Going to close this one out.

[2021-09-01 14:48] opsdisk commented on #56
Closing this one out.

[2021-09-01 14:48] #56 closed

[2021-09-01 15:27] halimB8 commented on #55
Thanks @opsdisk  for this fast and great work.
So I just tried again with the same config, and this time I got an error and then a warning that google is blocking my IP, and then it sleeps for 60min
Here is the command I run:
[code]

and here is what I got :

[code]

[2021-09-01 18:17] opsdisk commented on #55
For grins, can you try using the native proxy support **without** proxychains4?  I want to determine if it's a proxychains4 or Tor issue.

So instead of prepending the command  with proxychains4, use:

`python pagodo.py -g dorks.txt -p socks5h://127.0.0.1:9050,socks5h://127.0.0.1:9060,socks5h://127.0.0.1:9062,socks5h://127.0.0.1:9064`

Unless they were updated, I used the proxies you specified her

[2021-09-02 01:27] melmel27 commented on #60
Hi, thanks for the very fast update.

[2021-09-02 02:02] melmel27 commented on #60
i get a certificate error, looks like adding verify=False will fix this?

python3 pagodo.py -g g.txt -o -s -p http://127.0.0.1:8080
2021-09-02 01:55:53,960 [MainThread  ] [INFO] Initiation timestamp: 2021-09-02T01:55:53.960795
2021-09-02 01:55:53,961 [MainThread  ] [INFO] Search ( 1 / 1 ) for Google dork [ intext:test ] using User-Agent 'Mozilla/5.0 (Windows; U; Windows NT 6.0; fr-FR) AppleWebKit/

[2021-09-02 03:00] melmel27 commented on #60
yes i edited it and it's working fine, about dork results i tried to search subdomain of *.site.com but the result shows only 100 results, can the result be more than this? Thank you in advance

[2021-09-02 03:04] melmel27 commented on #60
and yes is it possible to retrieve all search results with this tool?

[2021-09-02 15:50] halimB8 commented on #55
I Think it's tor issue, cause I just run the command you asked me for :

[code]

And from the first search I got a warning and it sleeps for 60min as you can see here :

[code]

[2021-09-03 14:56] opsdisk commented on #60
Which HTTPS proxy software were you using @melmel27 ?

[2021-09-03 14:58] opsdisk commented on #55
The sleeping is because an HTTP 429 was received by pagodo from Google.  I haven't been able to set up a Tor test environment to confirm that it's Tor, but that's still my suspicion.

[2021-09-04 02:22] melmel27 commented on #60
hi thanks for the information. i am using IP-Rotate from aws which rotates the IP address on every request.

[2021-09-04 02:31] melmel27 commented on #60
this tool can be found in burpsuite. I have another question, some user-agents directed me to consent.google.com. is it possible that google doesn't accept too old user-agent?
![IP](https://user-images.githubusercontent.com/87262382/132079562-f26ed34f-ac70-4ccb-a3b6-028602ab5a5c.PNG)

[2021-09-05 22:34] opsdisk commented on #60
@melmel27

I just pushed out version 2.1.0 (https://github.com/opsdisk/pagodo/pull/62)

In your case, add the `-l` switch to disable SSL/TLS verification.  Let me know if you run into any other issues.

Regarding the old user agent issue...maybe?  `pagodo` should **only** make requests to https://www.google.com and not any subdomains like `consent.google.com`.  Perhaps it was from a browser you we

[2021-09-06 02:26] melmel27 commented on #60
i confirm that the subdomain generated due to burp follows redirects like
[code]

[2021-09-06 02:26] #60 closed

[2021-10-30 10:56] #55 closed

[2022-01-10 01:36] QoQoQ1 opened #66 "traceback problem"
hi, when im trying executing the command , this problem pop up

Traceback (most recent call last):
  File "pagodo.py", line 15, in <module>
    import yagooglesearch
ModuleNotFoundError: No module named 'yagooglesearch'

please help,
thanks :>

[2022-01-11 02:04] opsdisk commented on #66
Hi @QoQoQ1 - Looks like you need to install the `yagooglesearch` library.  See https://github.com/opsdisk/pagodo#installation

[2022-01-25 02:36] opsdisk commented on #66
Going to close this one out.  Let me know if the solution above doesn't work.

[2022-01-25 02:36] #66 closed

[2022-10-09 12:10] sibercan opened #72 "Some parameters doesn't work"
![parameters](https://user-images.githubusercontent.com/72570309/194756346-78aa9ea7-cbf4-4fc7-98ce-f01b12cd753c.png)
Hi,

While the script is running, it does not use some parameter values (-i, -x, -m) that I gave at the beginning. Instead, it uses some default values in the code. I tried to manually change the code myself but it kept working with default settings every time.

Regards..

[2022-10-09 13:27] opsdisk commented on #72
Thanks for submitting an issue @sibercan - it's a bit confusing.  The `-i` and `-x` switches control the sleep time between different Google dork searches.  It looks like your dorks.txt only contained 1 search term.  If your dorks.txt file had contained multiple searches, you would have seen the sleep time controlled by the above switches.

What you're seeing is the sleep time between page results

[2022-10-09 13:34] sibercan commented on #72
Thank you very much for the detailed explanation.
As you said, there is only 1 entry in my 'dorks.txt' file.
In this case I can use `yagooglesearch` library with different parameters to change the wait time between pages.

Regards

[2022-10-09 13:34] #72 closed

[2022-11-04 06:16] d0nest opened #75 "Error while running ./pagodo and ./ghdb_scraper.py"
env: python: No Such File or Directory.
i know this is about (virtual environment) i had one but, i have deleted it after this error, to check if it was a problem. although, i did not activated it during the installation requrements.txt.

[2022-11-04 06:27] #75 closed